In [ ]:
Module
---------
1. Python - Module - existing python code(python file) -> filename.py
2. reusability 
3. import <moduleName> 

example: E:\>
-----------
file: sab.py                         file: p1.py       file: p2.py
--------------                      -------------       ==============
def f1():                              import sab          import sab
    print("Hello")                     sab.f1()            print(sab.f2())
                                       print(sab.app)    ===============
def f2():                           --------------------    E:\> python p2.py
    return 120                         E:\>python p1.py       120
                                        Hello
app = 'flask'                           flask
port = 5000                            E:\> 
--------------------
E:\> python sab.py
E:\>
E:\>

In [1]:
import sys
sys.version

'3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]'

In [2]:
sys.platform

'win32'

In [3]:
sys.argv

['C:\\ProgramData\\anaconda3\\Lib\\site-packages\\ipykernel_launcher.py',
 '-f',
 'C:\\Users\\karth\\AppData\\Roaming\\jupyter\\runtime\\kernel-10c521cf-3a12-4152-ba99-54022e987365.json']

In [6]:
import os
os.getcwd()

'C:\\Users\\karth'

In [8]:
os.system("hostname")

0

In [9]:
os.system("powershell get-date")

0

In [ ]:
os.system("command") -> result_statuscode ->0 //Success ; non-zero //failed

In [10]:
os.system("powershell sleep 10")

0

In [11]:
os.popen("powershell get-date")

In [12]:
obj = os.popen("powershell get-date")
obj.read()

'\n25 February 2026 14:59:44\n\n\n'

In [13]:
obj = os.popen("powershell get-date")
TODAY = obj.read()
TODAY.strip() # remove \n

'25 February 2026 15:00:05'

In [15]:
# help(os)

help(os.system)

Help on built-in function system in module nt:

system(command)
    Execute the command in a subshell.

In [ ]:
example: E:\>
-----------
file: sab.py                         file: p1.py       file: p2.py
--------------                      -------------       ==============
def f1():                              import sab          import sab
    print("Hello")                     sab.f1()            print(sab.f2())
                                       print(sab.app)    ===============
def f2():                           --------------------    E:\> python p2.py
    return 120                         E:\>python p1.py       120
                                        Hello
app = 'flask'                           flask
port = 5000                            E:\> python {Enter}
--------------------                   >>> import sab
E:\> python sab.py                     >>>
                                       >>> sab.port 
E:\> dir                               5000
sab.py                                 >>> 
p1.py
p2.py

E:\> G: {Enter}
G:\> dir {Enter}
<empty> - there is no files

G:\> python {Enter}
>>>
>>> import sab
ModuleNotFound Error 
>>>
>>> import os
>>>
>>> import sys
>>> import json
################
import <module>
         1. Search <module> (module.py) file - Refer sys.path  file => [list of directories]
         2. python --> filename.pyc (module.pyc) // pvm 
          __pycache__/ filename.pyc 

G:\> 
"E:\\" in sys.path ->True -->we can import 
                   ->False -->file/directory E:\\ Not found from sys.path

sys.path.append("E:\\")
"E:\\" in sys.path ->True

In [16]:
import sys
sys.path

['C:\\Users\\karth\\AppData\\Local\\Programs\\Python\\Python310',
 'C:\\Users\\karth\\D1',
 'C:\\Users\\karth',
 'C:\\ProgramData\\anaconda3\\python313.zip',
 'C:\\ProgramData\\anaconda3\\DLLs',
 'C:\\ProgramData\\anaconda3\\Lib',
 'C:\\ProgramData\\anaconda3',
 '',
 'C:\\Users\\karth\\AppData\\Roaming\\Python\\Python313\\site-packages',
 'C:\\ProgramData\\anaconda3\\Lib\\site-packages',
 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32',
 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [17]:
os.getcwd()

'C:\\Users\\karth'

In [ ]:
PYTHONPATH - env variable 

import <module>
<module>.member 
          |->variable,function,class,method ...

help(module) # To get module docs
help(module.member) # To get module specific member details

In [19]:
import time
time.sleep(3)
print("OK")

OK

In [20]:
time.ctime()

'Wed Feb 25 15:14:43 2026'

In [ ]:
# Write a python program:
1. initialize a pin Number (ex: pin = 1234)
2. use while loop - limit is 3
       - read a pin Number from <STDIN>
       - test - input pin with an existing pin
       - display - message - pin is matched - count - 123
         Maximum limit is 3
3. if 3 attempt is failed - pin is blocked
|
|
create a newfile pin_history.log file
- append input details to pin_history.log file
- append user input date/time <== time.ctime()
----------------------------------------------------------

In [24]:
pin = 1234
count = 0
while(count < 3):
    count = count + 1
    p = input('Enter a pin Number:')
    if(int(p) == pin):
        print(f'PIN - Success - Matched - {count}')
        break # exit from loop

if(pin != int(p)):
    print('Sorry your pin is blocked')

Enter a pin Number: 123123
Enter a pin Number: 123455
Enter a pin Number: 1234

PIN - Success - Matched - 3

In [29]:
fobj = open('demo_pin_history.log','a')

pin = 1234
count = 0
while(count < 3):
    count = count + 1
    p = input('Enter a pin Number:')
    if(int(p) == pin):
        fobj.write(f'PIN Is matched - Entry date /time is:{time.ctime()}\n')
        print(f'PIN - Success - Matched - {count}')
        break # exit from loop
    else:
        fobj.write(f'PIN Is not matched - Entry time is :{time.ctime()}\n')

if(pin != int(p)):
    print('Sorry your pin is blocked')
    fobj.write(f'PIN is not matched')

fobj.close()

Enter a pin Number: 23432
Enter a pin Number: 32324
Enter a pin Number: 1234

PIN - Success - Matched - 3

In [30]:
print(open('demo_pin_history.log').read())

PIN Is matched - Entry date /time is:Wed Feb 25 15:27:37 2026
PIN Is not matched - Entry time is :Wed Feb 25 15:28:23 2026
PIN Is not matched - Entry time is :Wed Feb 25 15:28:27 2026
PIN Is matched - Entry date /time is:Wed Feb 25 15:28:29 2026

In [37]:
def pin_Test(mypin):
    fobj = open('demo_pin_history.log','a')
    pin = mypin
    count = 0
    while(count < 3):
        count = count + 1
        p = input('Enter a pin Number:')
        if(int(p) == pin):
            fobj.write(f'PIN Is matched - Entry date /time is:{time.ctime()}\n')
            print(f'PIN - Success - Matched - {count}')
            break # exit from loop
        else:
            fobj.write(f'PIN Is not matched - Entry time is :{time.ctime()}\n')

if(pin != int(p)):
    print('Sorry your pin is blocked')
    fobj.write(f'PIN is not matched')

fobj.close()

In [38]:
pin_Test(1344)

Enter a pin Number: 1234
Enter a pin Number: 1344

PIN - Success - Matched - 2

In [39]:
pin_Test(5678)

Enter a pin Number: 5678

PIN - Success - Matched - 1

In [40]:
! demo_pin_history.log

In [41]:
L = []

def f1(a):
    return a+100

for var in [10,20,30,40,50]:
    r = f1(var)
    L.append(r)

print(L)

[110, 120, 130, 140, 150]

In [42]:
list(map(lambda a:a+100,[10,20,30,40,50]))

[110, 120, 130, 140, 150]

In [ ]:
1. lambda
2. list comprehension
3. generator
4. map,filter,enumerator

In [ ]:
lambda 
  - unnamed function
  - python keyword

  - lambda list of args: basic operation
    ====== ------------ -===============
  - function call with argument return some value

In [43]:
def f1(a1,a2):
    return a1+a2

f1(10,20)

30

In [44]:
lambda a1,a2: a1+a2

In [45]:
f2 = lambda a1,a2: a1+a2
f2(10,20)

30

In [46]:
def f3(a):
    return a.upper()

f3('hello')

'HELLO'

In [50]:
F3 = lambda a:a.upper()
F3('hello')

'HELLO'

In [49]:
def f4(a1,a2):
    return a1 > a2

f4(150,79)

True

In [51]:
F4 = lambda a,b : a > b

In [52]:
F4(150,45)

True

In [67]:
def fx(a):
    if(a >100 and a<200):
        return a+100
    elif(a >500 and a<600):
        return a+400
    else:
        return a+500

In [68]:
fy = lambda a1:fx(a1)

fy(501)

901

In [69]:
fy(150)

250

In [70]:
fy(250)

750

In [71]:
# 2. list comprehension - list append operation

L = []
for var in [10,20,30,40]:
    r = var + 100
    L.append(r)

In [72]:
L

[110, 120, 130, 140]

In [73]:
[var+100 for var in [10,20,30,40]]

[110, 120, 130, 140]

In [75]:
L = []
for var in [10,20,30,40]:
    if var >30:
        r = var + 100
        L.append(r)
    else:
        r = var + 500
        L.append(r)

L

[510, 520, 530, 140]

In [76]:
[var+100 if var >30 else var + 500 for var in [10,20,30,40]]

[510, 520, 530, 140]

In [78]:
# Generator 
#  - function ->returns an address(iterator)
#    .......            ---------------------

def f1():
    return 10

def f2():
    yield 10

print(type(f1),type(f2))
print(type(f1()),type(f2()))

<class 'function'> <class 'function'>
<class 'int'> <class 'generator'>

In [79]:
f1()

10

In [80]:
f2()

In [81]:
def f1(): 
    return 10
    print("Hello") 
    return 20
f1()

10

In [82]:
def f2():
    yield 10
    print("Hello")
    yield 20
    yield 30,40
    yield 50+60
    yield "D1","D2","D3"
    yield "Data1",["Data2","data3"]

In [83]:
f2()

In [ ]:
1. next(generator_obj) ->Value... StopIteration
 <or>
2. for loop 
<or>
3. typecast to list

In [84]:
gen_obj = f2()

In [85]:
print(next(gen_obj))

10

In [86]:
print(next(gen_obj))

Hello
20

In [87]:
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))

(30, 40)
110
('D1', 'D2', 'D3')
('Data1', ['Data2', 'data3'])

StopIteration:

In [89]:
gen_obj = f2()
for var in gen_obj:
    print(var)

10
Hello
20
(30, 40)
110
('D1', 'D2', 'D3')
('Data1', ['Data2', 'data3'])

In [90]:
gen_obj = f2()
list(gen_obj)

Hello

[10, 20, (30, 40), 110, ('D1', 'D2', 'D3'), ('Data1', ['Data2', 'data3'])]

In [ ]:
# Excel Range of cells ->Generator
# DB Query - select *from table -->Generator
# ...
karth@paka MINGW64 ~
$ ls D1
D2/  __pycache__/  ab.py  p1.log

karth@paka MINGW64 ~
$ ls -R D1
D1:
D2/  __pycache__/  ab.py  p1.log

D1/D2:
D3/  pa.py

D1/D2/D3:
D4/  test.log

D1/D2/D3/D4:
r1.log  test.log

D1/__pycache__:
ab.cpython-310.pyc

karth@paka MINGW64 ~
>>> import os
>>>
>>> os.listdir("D1") # ls D1
['ab.py', 'D2', 'p1.log', '__pycache__']
>>>
>>> os.walk("D1")
<generator object walk at 0x000002CC210F3CA0>
>>>
>>> gen_obj = os.walk("D1")
>>> for var in gen_obj:
...     print(var)
...
('D1', ['D2', '__pycache__'], ['ab.py', 'p1.log'])
('D1\\D2', ['D3'], ['pa.py'])
('D1\\D2\\D3', ['D4'], ['test.log'])
('D1\\D2\\D3\\D4', [], ['r1.log', 'test.log'])
('D1\\__pycache__', [], ['ab.cpython-310.pyc'])
>>>

In [ ]:
map  ----> map()  ---> map(function,collection) ---> generator

filter  -------------> filter(function,collection) ---> generator

In [91]:
L = []

def f1(a):
    return a+100

for var in [10,20,30,40,50]:
    r = f1(var)
    L.append(r)

L

[110, 120, 130, 140, 150]

In [92]:
map(lambda a:a+100,[10,20,30,40,50])

In [93]:
list(map(lambda a:a+100,[10,20,30,40,50]))

[110, 120, 130, 140, 150]

In [94]:
obj = map(lambda a:a+100,[10,20,30,40,50])
for var in obj:
    print(var)

110
120
130
140
150

In [95]:
obj = map(lambda a:a+100,[10,20,30,40,50])
list(obj)

[110, 120, 130, 140, 150]

In [96]:
L = []
def f1(a):
    if( a >15):
        return True
    else:
        return False

for var in [10,12,13,15,20,30]:
    r = f1(var)
    L.append(r)

L

[False, False, False, False, True, True]

In [97]:
list(map(lambda a: a > 15,[10,12,13,15,20,30]))

[False, False, False, False, True, True]

In [98]:
list(filter(lambda a: a > 15,[10,12,13,15,20,30]))

[20, 30]

In [99]:
list(filter(lambda a: a > 55,[10,12,13,15,20,30]))

[]

In [ ]:
import htmltemplate_code
htmltemplate_code.index()
htmltemplate_code.display()

import htmltemplate_code as ht
ht.index()
ht.display()

import Dir1.Dir2.Module
Dir1.Dir2.Module.fx()

import Dir1.Dir2.Module as mymodule
mymodule.fx()

import <module>
<module>.member

import os
os.getcwd()

from <module> import <member>
<member>

from os import getcwd
getcwd() # OK

In [104]:
                              #    0   1    2  3   4   5 
s="python"                    #  | p | y | t | h | o | n |
for var in enumerate(s):
    print(var)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [105]:
s="python"                    #  | p | y | t | h | o | n |
for var in enumerate(s,1):
    print(var)

(1, 'p')
(2, 'y')
(3, 't')
(4, 'h')
(5, 'o')
(6, 'n')

In [106]:
s="python"                    #  | p | y | t | h | o | n |
for var in enumerate(s,50):
    print(var)

(50, 'p')
(51, 'y')
(52, 't')
(53, 'h')
(54, 'o')
(55, 'n')

In [108]:
fobj = open('emp.csv','r')
for var in fobj:
    print(var.strip())

eid,ename,edept,ecity,ecost
101,raj,sales,pune,1000
102,leo,prod,bglore,2301
230,raj,prod,pune,2300
450,shan,sales,bglore,3401
542,anu,HR,mumbai,4590
321,bibu,sales,hyd,5419
651,ram,hr,bglore,3130
541,leo,admin,chennai,4913
652,karthik,sales,bglore,3405

In [109]:
[ var for var in open('emp.csv','r') ] # list comprehension

['eid,ename,edept,ecity,ecost\n',
 '101,raj,sales,pune,1000\n',
 '102,leo,prod,bglore,2301\n',
 '230,raj,prod,pune,2300\n',
 '450,shan,sales,bglore,3401\n',
 '542,anu,HR,mumbai,4590\n',
 '321,bibu,sales,hyd,5419\n',
 '651,ram,hr,bglore,3130\n',
 '541,leo,admin,chennai,4913\n',
 '652,karthik,sales,bglore,3405']

In [110]:
list(map(lambda a:a.upper(),open('emp.csv','r')))

['EID,ENAME,EDEPT,ECITY,ECOST\n',
 '101,RAJ,SALES,PUNE,1000\n',
 '102,LEO,PROD,BGLORE,2301\n',
 '230,RAJ,PROD,PUNE,2300\n',
 '450,SHAN,SALES,BGLORE,3401\n',
 '542,ANU,HR,MUMBAI,4590\n',
 '321,BIBU,SALES,HYD,5419\n',
 '651,RAM,HR,BGLORE,3130\n',
 '541,LEO,ADMIN,CHENNAI,4913\n',
 '652,KARTHIK,SALES,BGLORE,3405']

In [111]:
d={}
d['CSV'] = list(map(lambda a:a.upper(),open('emp.csv','r')))
d

{'CSV': ['EID,ENAME,EDEPT,ECITY,ECOST\n',
  '101,RAJ,SALES,PUNE,1000\n',
  '102,LEO,PROD,BGLORE,2301\n',
  '230,RAJ,PROD,PUNE,2300\n',
  '450,SHAN,SALES,BGLORE,3401\n',
  '542,ANU,HR,MUMBAI,4590\n',
  '321,BIBU,SALES,HYD,5419\n',
  '651,RAM,HR,BGLORE,3130\n',
  '541,LEO,ADMIN,CHENNAI,4913\n',
  '652,KARTHIK,SALES,BGLORE,3405']}

In [114]:
for line,data in enumerate(open('emp.csv','r'),1):
    if(line >= 3 and line <=7):
        print(f'{line}  {data.strip()}')

3  102,leo,prod,bglore,2301
4  230,raj,prod,pune,2300
5  450,shan,sales,bglore,3401
6  542,anu,HR,mumbai,4590
7  321,bibu,sales,hyd,5419

In [ ]:
################

In [115]:
import sqlite3  # step-1

sqlite3.connect("test1.db") # step-2

In [116]:
conn = sqlite3.connect("test1.db") # step-2
conn.cursor()

In [ ]:
sth = conn.cursor() # step - 3

In [117]:
import sqlite3
conn = sqlite3.connect("test1.db")
sth = conn.cursor()
sth.execute("create table product(id INT,pname TEXT,pcost INT)")

In [118]:
sth.execute("insert into product(id,pname,pcost) values(101,'pA',1000)")

In [119]:
sth.execute("insert into product(id,pname,pcost) values(102,'pB',2000)")
sth.execute("insert into product(id,pname,pcost) values(103,'pC',3000)")
sth.execute("insert into product(id,pname,pcost) values(104,'pD',4000)")
sth.execute("insert into product(id,pname,pcost) values(105,'pE',5000)")

In [123]:
va = 106
vb = 'pF'
vc = 3450
sth.execute("insert into product(id,pname,pcost) values(?,?,?)",(va,vb,vc))

In [124]:
sth.execute("select *from product")

In [125]:
sth.fetchone()

(101, 'pA', 1000)

In [126]:
sth.fetchone()

(102, 'pB', 2000)

In [127]:
sth.fetchone()

(103, 'pC', 3000)

In [128]:
sth.execute("select *from product")
sth.fetchall()

[(101, 'pA', 1000),
 (102, 'pB', 2000),
 (103, 'pC', 3000),
 (104, 'pD', 4000),
 (105, 'pE', 5000),
 (106, 'pF', 3450)]

In [129]:
sth.execute("select *from product")
list(sth) # generator

[(101, 'pA', 1000),
 (102, 'pB', 2000),
 (103, 'pC', 3000),
 (104, 'pD', 4000),
 (105, 'pE', 5000),
 (106, 'pF', 3450)]

In [130]:
sth.execute("select *from product")
for var in sth: # generator
    print(var)

(101, 'pA', 1000)
(102, 'pB', 2000)
(103, 'pC', 3000)
(104, 'pD', 4000)
(105, 'pE', 5000)
(106, 'pF', 3450)

In [131]:
conn.commit()

In [132]:
conn.close()

In [ ]:
1. Create new database ->emp.db file
2. Create a table emp - eid,ename,edept,ecity,ecost
3. read - emp.csv file - line by line 
4. split each line into multiple values 
5. insert splitted data into emp Table
6. select and display
-

In [133]:
conn = sqlite3.connect('emp.db')
sth = conn.cursor()
sth.execute("create table emp(eid INT,ename TEXT,edept TEXT,ecity TEXT,ecost INT)")

In [137]:
for line,data  in enumerate(open('emp.csv','r'),1):
    if(line >1):
        data=data.strip()
        ei,en,ed,ec,ecost = data.split(",")
        sth.execute("insert into emp(eid,ename,edept,ecity,ecost) values(?,?,?,?,?)",(ei,en,ed,ec,ecost))

In [138]:
sth.execute("select *from emp")
list(sth)

[(101, 'raj', 'sales', 'pune', 1000),
 (102, 'leo', 'prod', 'bglore', 2301),
 (230, 'raj', 'prod', 'pune', 2300),
 (450, 'shan', 'sales', 'bglore', 3401),
 (542, 'anu', 'HR', 'mumbai', 4590),
 (321, 'bibu', 'sales', 'hyd', 5419),
 (651, 'ram', 'hr', 'bglore', 3130),
 (541, 'leo', 'admin', 'chennai', 4913),
 (652, 'karthik', 'sales', 'bglore', 3405)]

In [140]:
sth.execute("select *from emp where edept = 'sales'")
list(sth)

[(101, 'raj', 'sales', 'pune', 1000),
 (450, 'shan', 'sales', 'bglore', 3401),
 (321, 'bibu', 'sales', 'hyd', 5419),
 (652, 'karthik', 'sales', 'bglore', 3405)]

In [141]:
sth.execute("select *from emp where edept = 'sales'")
sales_records = list(sth)

In [142]:
wobj = open('sales.log','w')
for var in sales_records: # fetched from DB
    eid,ename,edept,ecity,ecost = var # multiple initialization
    wobj.write(f'{ename}\t{edept}\t{ecity}\t{ecost}\t{int(ecost)*0.8}\n')

wobj.close()

In [ ]:
Exception Handling
------------------

Errors
 |---> 1. Syntax Error  - not following python rules 
 |---> 2. Logical Error - following python rules ------ Exit from the running state

file1: p1.py
===============
print("One")
print("Two")
print("Three")
print("Four)
print("Five")
print("Six")
================
python p1.py
SyntaxError 

file1: p2.py
===============
print("One")
print("Two")
print("Three")
print(Four)
print("Five")
print("Six")
================
python p2.py
One
Two
Three
NameError Four -- Exit from this line


try
except
else
finally
-----------//keywords 

try: 
    <code-block>
except Exception as eobj:
    eobj
else:
    There is no Exception 
finally:
    always running block

import sys
print("One")
print("Two")
print("Three")
try:
	print(Four)
except Exception as eobj:
	print(eobj)

print("Five")
print("next section of code")
for var in 'python':
	print(var)
try:
	L=[10,20]
	L[5]='data'
except Exception:
	print(sys.exc_info())

print('End of the line')

In [143]:
fobj = open('emp.csv','r')
L = fobj.readlines()
fobj.close()

In [144]:
L

['eid,ename,edept,ecity,ecost\n',
 '101,raj,sales,pune,1000\n',
 '102,leo,prod,bglore,2301\n',
 '230,raj,prod,pune,2300\n',
 '450,shan,sales,bglore,3401\n',
 '542,anu,HR,mumbai,4590\n',
 '321,bibu,sales,hyd,5419\n',
 '651,ram,hr,bglore,3130\n',
 '541,leo,admin,chennai,4913\n',
 '652,karthik,sales,bglore,3405']

In [145]:
L[1:]

['101,raj,sales,pune,1000\n',
 '102,leo,prod,bglore,2301\n',
 '230,raj,prod,pune,2300\n',
 '450,shan,sales,bglore,3401\n',
 '542,anu,HR,mumbai,4590\n',
 '321,bibu,sales,hyd,5419\n',
 '651,ram,hr,bglore,3130\n',
 '541,leo,admin,chennai,4913\n',
 '652,karthik,sales,bglore,3405']

In [ ]:
## json module

JSON - API 

[Client]-------------request-------->---------[Server]------>....
            -----------<-----------------------------------
                        response-1 : Webpage => <html>...{{variable}} </html> (<html>..</html>+data)
                        response-2 : Data Response => data only  - there is no <html>

In [146]:
net_info={'Interface':'eth0','IP':'127.0.0.1','prefix':24}

print(type(net_info))

<class 'dict'>

In [148]:
import json
json.dumps(net_info) # Convert to json

'{"Interface": "eth0", "IP": "127.0.0.1", "prefix": 24}'

In [149]:
json_obj = json.dumps(net_info)

In [150]:
json.loads(json_obj) # Convert from json object ->python

{'Interface': 'eth0', 'IP': '127.0.0.1', 'prefix': 24}

In [151]:
json.loads('true') # from json -->python

True

In [152]:
with open('test.json','w') as wobj:
    json.dump(net_info,wobj)

In [153]:
with open('test.json','r') as fobj:
    pd = json.load(fobj)

pd

{'Interface': 'eth0', 'IP': '127.0.0.1', 'prefix': 24}

In [ ]:
############################################ End of Day3 Session ###############