In [2]:
import pandas as pd
df_csv = pd.read_csv('emp.csv')
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     9 non-null      int64
 1   ename   9 non-null      object
 2   edept   9 non-null      object
 3   ecity   9 non-null      object
 4   ecost   9 non-null      int64
dtypes: int64(2), object(3)
memory usage: 492.0+ bytes

In [3]:
products = {}
products['pid']=[101,102,103,104,105]
products['pname']=['pA','pB','pC','pD','pE']
products['pcost']=[1000,234,4442,1230,4500]
import json
with open('test.json','w') as wobj:
    json.dump(products,wobj)

In [4]:
pd.read_json('test.json')

   pid pname  pcost
0  101    pA   1000
1  102    pB    234
2  103    pC   4442
3  104    pD   1230
4  105    pE   4500

In [5]:
df_json = pd.read_json('test.json')

In [7]:
df_excel = pd.read_excel('sales_data.xlsx')

In [8]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     9 non-null      int64
 1   ename   9 non-null      object
 2   edept   9 non-null      object
 3   ecity   9 non-null      object
 4   ecost   9 non-null      int64
dtypes: int64(2), object(3)
memory usage: 492.0+ bytes

In [9]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     5 non-null      int64
 1   pname   5 non-null      object
 2   pcost   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [10]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3 non-null      int64
 1   product    3 non-null      object
 2   amount     3 non-null      int64
 3   sale_date  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 228.0+ bytes

In [15]:
import sqlite3
conn = sqlite3.connect('emp.db')
cur = conn.cursor()
cur.execute("create table emp(eid INT,ename TEXT,edept TEXT,ecost INT)")

In [16]:
cur.execute("insert into emp(eid,ename,edept,ecost) values(101,'Arun','sales',1000)")

In [17]:
cur.execute("insert into emp(eid,ename,edept,ecost) values(102,'Anu','HR',2000)")
cur.execute("insert into emp(eid,ename,edept,ecost) values(103,'vijay','Prod',3000)")
cur.execute("insert into emp(eid,ename,edept,ecost) values(104,'Leo','sales',4000)")
cur.execute("insert into emp(eid,ename,edept,ecost) values(105,'Paul','sales',5300)")
cur.execute("insert into emp(eid,ename,edept,ecost) values(106,'Bibu','admin',2100)")

In [18]:
conn.commit()

In [19]:
conn.close()

In [20]:
import sqlite3
conn = sqlite3.connect('emp.db')

In [21]:
pd.read_sql_query("select *from emp",conn)

   eid  ename  edept  ecost
0  101   Arun  sales   1000
1  102    Anu     HR   2000
2  103  vijay   Prod   3000
3  104    Leo  sales   4000
4  105   Paul  sales   5300
5  106   Bibu  admin   2100

In [22]:
df_db = pd.read_sql_query("select *from emp",conn)
df_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     6 non-null      int64
 1   ename   6 non-null      object
 2   edept   6 non-null      object
 3   ecost   6 non-null      int64
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes

In [23]:
df_db.to_sql("new_emp",conn)

6

In [24]:
df_csv.to_csv("e1.csv")