In [1]:
print("Hello")

Hello

In [2]:
product = input('Enter a product name:')
print(f'product name is:{product}')

Enter a product name: Laptop

product name is:Laptop

In [3]:
var = 120

In [4]:
print(var)

120

In [6]:
fname = 'p1.log'

In [7]:
print(fname)

p1.log

In [8]:
import time
time.sleep(10)
print("Hello")

Hello

In [9]:
product = input('Enter a product name:')
print(f'product name is:{product}')

Enter a product name: pB

product name is:pB

In [10]:
print("data1")

data1

Write a python program:
 read a login name from <STDIN>
 test input login name is admin (or) Admin //any one name is matched - Login is success
                                           // Not matched - Login is Not Matched

In [12]:
Login_name = input('Enter a login name:')

if(Login_name == 'admin'  or Login_name == 'Admin'):
    print('Login is Success')
else:
    print('Login is Not matched')

Enter a login name: Admin

Login is Success

In [13]:
Login_name = input('Enter a login name:')

if(Login_name == 'admin'  or Login_name == 'Admin'):
    print('Login is Success')
else:
    print('Login is Not matched')

Enter a login name: usserA

Login is Not matched

In [ ]:
Write a python program:
 read a login name from <STDIN>
 test input login name is admin (or) Admin //any one name is matched - Login is success
                                           // Not matched - Login is Not Matched
Give max limit is 5 - loop limit is 5
rule-1 initialization
rule-2 condition
rule-3 arithmetic

In [14]:
i=0
while(i < 5):
    Login_name = input('Enter a login name:')
    if(Login_name == 'admin'  or Login_name == 'Admin'):
        print('Login is Success')
    else:
        print('Login is Not matched')
    i = i + 1

Enter a login name: admin

Login is Success

Enter a login name: Admin

Login is Success

Enter a login name: userA

Login is Not matched

Enter a login name: userB

Login is Not matched

Enter a login name: userC

Login is Not matched

In [15]:
i=0
while(i < 5):
    Login_name = input('Enter a login name:')
    if(Login_name == 'admin'  or Login_name == 'Admin'):
        print('Login is Success')
    else:
        print('Login is Not matched')
    i = i + 1

Enter a login name: userA

Login is Not matched

Enter a login name: admin

Login is Success

Enter a login name: user1

Login is Not matched

Enter a login name: user2

Login is Not matched

Enter a login name: user3

Login is Not matched

In [16]:
i=0
while(i < 5):
    Login_name = input('Enter a login name:')
    if(Login_name == 'admin'  or Login_name == 'Admin'):
        print('Login is Success')
        break # looping keyword - exit from loop
    else:
        print('Login is Not matched')
    i = i + 1

Enter a login name: userA

Login is Not matched

Enter a login name: admin

Login is Success

Write a python program:
i. Create an empty list (ex: products = []) 
ii. use while loop - limit is 5
       iii.  read a product name from <STDIN>
       iv.   append input product to an existing list (step-1)
v.  display list of products and no.of products

In [17]:
products = []
i = 0
while(i < 5):
    p = input('Enter a product name:')
    products.append(p) # list - append operation - adding new data to an existing list
    i=i+1

print('List of products:-')
print(products)
print(f'Total no.of products:{len(products)}')

Enter a product name: pA
Enter a product name: pB
Enter a product name: pC
Enter a product name: pD
Enter a product name: pE

List of products:-
['pA', 'pB', 'pC', 'pD', 'pE']
Total no.of products:5

In [ ]:
Write a python program:
i. Create an empty dict (ex: products = {}) 
ii. use while loop - limit is 5
       iii.  read a product id  from <STDIN>
       iv.   read a product name from <STDIN>
       iv.   add input product details to an existing dict (step-1) ###  product id - Key  ; product name - Value {'p101':'pA'}
v.  display list of products and no.of products

In [18]:
products = {}
i = 0
while( i < 5):
    pid = input('Enter a product ID:')
    pname = input('Enter a product Name:')
    products[pid] = pname ### adding new data to an exisiting dict (or)  products.setdefault(pid,pname) 
    i = i + 1

print('List of products:-')
print(products)
print(f'Total no.of products:{len(products)}')

Enter a product ID: p101
Enter a product Name: pA
Enter a product ID: p102
Enter a product Name: pB
Enter a product ID: p103
Enter a product Name: pC
Enter a product ID: p104
Enter a product Name: pD
Enter a product ID: p105
Enter a product Name: pE

List of products:-
{'p101': 'pA', 'p102': 'pB', 'p103': 'pC', 'p104': 'pD', 'p105': 'pE'}
Total no.of products:5

In [19]:
products = {}
i = 0
while( i < 5):
    pid = input('Enter a product ID:')
    pname = input('Enter a product Name:')
    products[pid] = pname ### adding new data to an exisiting dict (or)  products.setdefault(pid,pname) 
    i = i + 1

print('List of products:-')
print(products)
print(f'Total no.of products:{len(products)}')

Enter a product ID: p101
Enter a product Name: pA
Enter a product ID: p102
Enter a product Name: pB
Enter a product ID: p101
Enter a product Name: Laptop
Enter a product ID: p102
Enter a product Name: mobile
Enter a product ID: p101
Enter a product Name: DeviceA

List of products:-
{'p101': 'DeviceA', 'p102': 'mobile'}
Total no.of products:2

In [ ]:
Write a python program:
i. Create an empty dict (ex: products = {}) 
ii. use while loop - limit is 5
       iii.  read a product id  from <STDIN>
             Test - if product id already exists -- Message: product id is already exists - Enter different ID # use membership operator 
              # use continue statement - skip the current input
       iv.   read a product name from <STDIN>
       iv.   add input product details to an existing dict (step-1) ###  product id - Key  ; product name - Value {'p101':'pA'}
v.  display list of products and no.of products

In [20]:
for var in 'abc':
    print('Hello...',var)

Hello... a
Hello... b
Hello... c

In [21]:
L=['D1','D2','D3',10,20]
for var in L:
    print(f'var value is:{var}')

var value is:D1
var value is:D2
var value is:D3
var value is:10
var value is:20

In [22]:
T=('D1','D2','D3',10,20)
for var in T:
    print(f'var value is:{var}')

var value is:D1
var value is:D2
var value is:D3
var value is:10
var value is:20

In [23]:
d={'K1':'V1','K2':'V2','K3':'V3'}
for var in d:
    print(var) # list of keys

K1
K2
K3

In [ ]:
d['K1'] ->Value

In [24]:
for var in d:
    print(d[var]) # value

V1
V2
V3

In [27]:
for var in d:
    print(f'{var}  {d[var]}') ## Get list of key - values

K1  V1
K2  V2
K3  V3

In [ ]:
# Write a python program
Given String  s = '123456789' 
Calculate sum of the digits 
display sum value
### use for loop 
# s='123' -> s[0]+s[1]+s[2] -> int(s[0])+int(s[1])+int(s[2]) ->N 

Given List:
Emp = ['101,raj,sales,pune,1000','102,leo,prod,bglore,2000','103,anu,HR,mumbai,3000'] 
|
display - emp name - TitleCase  Emp working City - Uppercase 
Calculate Sum of emp's cost
display Total cost at the end.
-----------------------------------//use for loop

In [29]:
s = '123456789'
for var in s:
    print(var,type(var))

1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
6 <class 'str'>
7 <class 'str'>
8 <class 'str'>
9 <class 'str'>

In [31]:
s = '123456789'

total = 0
for var in s:
    total = total + int(var)

print(f'Sum of given {s} value is:{total}')

Sum of given 123456789 value is:45

In [32]:
'101,raj,sales,pune,1000'.split(',')

['101', 'raj', 'sales', 'pune', '1000']

In [ ]:
L = '101,raj,sales,pune,1000'.split(',')
eid = L[0]
ename = L[1]
edept = L[2]
ecity = L[3]
ecost = L[4]

# (Or)
#
## Python support multiple initialization
variable1,variable2,variable3 = value1,value2, value3
|            |          |_________________________|
|            |______________________________|
|___________________________________|

L = '101,raj,sales,pune,1000'.split(',')
eid,ename,edept,ecity,ecost = L

In [33]:
Emp = ['101,raj,sales,pune,1000','102,leo,prod,bglore,2000','103,anu,HR,mumbai,3000']
for var in Emp:
    print(var)

101,raj,sales,pune,1000
102,leo,prod,bglore,2000
103,anu,HR,mumbai,3000

In [34]:
Emp = ['101,raj,sales,pune,1000','102,leo,prod,bglore,2000','103,anu,HR,mumbai,3000']
for var in Emp:
    print(var.split(','))

['101', 'raj', 'sales', 'pune', '1000']
['102', 'leo', 'prod', 'bglore', '2000']
['103', 'anu', 'HR', 'mumbai', '3000']

In [35]:
Emp = ['101,raj,sales,pune,1000','102,leo,prod,bglore,2000','103,anu,HR,mumbai,3000']
for var in Emp:
    eid,ename,edept,ecity,ecost = var.split(",") # split single data into multiple values(list)
    print(f'Emp name is:{ename.title()}\t Working City:{ecity.upper()}')

Emp name is:Raj	 Working City:PUNE
Emp name is:Leo	 Working City:BGLORE
Emp name is:Anu	 Working City:MUMBAI

In [38]:
total = 0
Emp = ['101,raj,sales,pune,1000','102,leo,prod,bglore,2000','103,anu,HR,mumbai,3000']
for var in Emp:
    eid,ename,edept,ecity,ecost = var.split(",") # split single data into multiple values(list)
    print(f'Emp name is:{ename.title()}\t Working City:{ecity.upper()}')
    total = total + int(ecost)

print("-"*50)
print(f"\t Sum of Emp's Cost is:{total}")
print("-"*50)

Emp name is:Raj	 Working City:PUNE
Emp name is:Leo	 Working City:BGLORE
Emp name is:Anu	 Working City:MUMBAI
--------------------------------------------------
	 Sum of Emp's Cost is:6000
--------------------------------------------------

In [39]:
s='101,raj:sales(pune%506,9004'
s.split(',')

['101', 'raj:sales(pune%506', '9004']

In [40]:
s.split(':')

['101,raj', 'sales(pune%506,9004']

In [ ]:
str - Collection of chars - index based - immutable - '' <or> ""
list - collection of different types of items - index based - mutable - [] 
tuple - collection of different types of items - index based - immutable - ()
dict - collection of different types of items - Key:value based - mutable - {} 
Vs
set - collection of different types of items - NOT index based 
                                             - NOT Key:Value 
      - we can add new data to an existing set
      - we can remove an existing data from set 
      - There is NO Modification - No Index; No Key:Value
      - NOT allows duplicate value 

set operations  = set operators (or) set methods
- union            |                    union()
- intersection     &                    intersection()
- difference       -                    difference()
- symmetric difference ^                symmetric_difference()

In [42]:
s = {10,1.4,'data1',True,10,10,10,20,20,20,10,'data1','data1'}
print(type(s))
print(len(s))

<class 'set'>
5

In [43]:
print(s)

{1.4, True, 20, 'data1', 10}

In [44]:
L = ['Data1','Data2','Data3','Data1','Data2','Data3']
len(L)

6

In [45]:
set(L) # typecast to set

{'Data1', 'Data2', 'Data3'}

In [46]:
list(set(L)) # typecast to list

['Data3', 'Data1', 'Data2']

In [47]:
file1 = ['D1','D2','D3','D4','D5']
file2 = ['D1','D3','D5','D6','D7','D8','D9']

In [48]:
# Combine both file1 and file2 
# Omit duplicate value

set(file1) | set(file2)

{'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9'}

In [49]:
set(file1).union(set(file2))

{'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9'}

In [50]:
# Filter Common data
set(file1) & set(file2)

{'D3', 'D5'}

In [ ]:
List   - [ ]
Tuple  - ( )
Dict   -  { } 
----------//

[ [],[],[],[] ] <== List of List
  |  |
  | 1st index
 0thindex

[ (),(),(),() ] <=== List of tuple 
  |  |
  |  1st index
  |
  0th index

[ {},{},{} ] <=== List of dict 
  |  |  |
  |  |  2nd 
  |  1st
 0th

In [51]:
L = [ ['pA','pB','pC'],[1000,2000,3000] ]
print(len(L))

2

In [52]:
L[0]

['pA', 'pB', 'pC']

In [53]:
L[1]

[1000, 2000, 3000]

In [54]:
L[0][0]

'pA'

In [55]:
L[0][1]

'pB'

In [56]:
d={'pid':101,'pname':'pA'} # 1D  1Key ->1Value

In [57]:
d={'pid':[101,102,103],'pname':['pA','pB','pC']} # MD 1Key ->Multiple values

In [58]:
d

{'pid': [101, 102, 103], 'pname': ['pA', 'pB', 'pC']}

In [59]:
d['pid'][0]

101

In [60]:
d['pname'][0]

'pA'

In [ ]:
### File Handling 
                        input                            print
Keyboard(<STDIN>)---------------------[ Python ] -----------------------Monitor(STOUT)
                                          |
                                          | read/write
                                          |
                                       Storage(File)

1. Read data from <FILE> -- python --- display to monitor(STDOUT)  # not reading data from Keyboard 

2. Read data from <STDIN> -- python -- Create a new File and write data to FILE  # not display data to Monitor 

3. Read data from <FILE-1> -- python -- Create a new File-2 and write data to anotherFILE  # not using IO


1. Read data from <FILE> -- python --- display to monitor(STDOUT)  # not reading data from Keyboard 
open()  => open('filename',mode)  # read - 'r'  write 'w' append 'a'  

            fobj = open('filename','r') 
            fobj.read() --> 'output_string'  <or> fobj.readlines() --->[file content]  
            fobj.close()

In [61]:
open('emp.csv','r')

In [62]:
fobj = open('emp.csv','r')

In [63]:
fobj = open('emp.csv','r')
fobj.read()

'eid,ename,edept,ecity,ecost\n101,raj,sales,pune,1000\n102,leo,prod,bglore,2301\n230,raj,prod,pune,2300\n450,shan,sales,bglore,3401\n542,anu,HR,mumbai,4590\n321,bibu,sales,hyd,5419\n651,ram,hr,bglore,3130\n541,leo,admin,chennai,4913\n652,karthik,sales,bglore,3405'

In [64]:
fobj.read()

''

In [65]:
fobj = open('emp.csv','r')
fobj.read()

'eid,ename,edept,ecity,ecost\n101,raj,sales,pune,1000\n102,leo,prod,bglore,2301\n230,raj,prod,pune,2300\n450,shan,sales,bglore,3401\n542,anu,HR,mumbai,4590\n321,bibu,sales,hyd,5419\n651,ram,hr,bglore,3130\n541,leo,admin,chennai,4913\n652,karthik,sales,bglore,3405'

In [66]:
fobj = open('emp.csv','r')
fobj.readlines()

['eid,ename,edept,ecity,ecost\n',
 '101,raj,sales,pune,1000\n',
 '102,leo,prod,bglore,2301\n',
 '230,raj,prod,pune,2300\n',
 '450,shan,sales,bglore,3401\n',
 '542,anu,HR,mumbai,4590\n',
 '321,bibu,sales,hyd,5419\n',
 '651,ram,hr,bglore,3130\n',
 '541,leo,admin,chennai,4913\n',
 '652,karthik,sales,bglore,3405']

In [67]:
fobj = open('emp.csv','r')
s = fobj.read()
fobj.close()

In [68]:
print(s) # display to monitor

eid,ename,edept,ecity,ecost
101,raj,sales,pune,1000
102,leo,prod,bglore,2301
230,raj,prod,pune,2300
450,shan,sales,bglore,3401
542,anu,HR,mumbai,4590
321,bibu,sales,hyd,5419
651,ram,hr,bglore,3130
541,leo,admin,chennai,4913
652,karthik,sales,bglore,3405

In [69]:
fobj = open('emp.csv','r')
L = fobj.readlines()
fobj.close()

In [70]:
for var in L:
    print(var)

eid,ename,edept,ecity,ecost

101,raj,sales,pune,1000

102,leo,prod,bglore,2301

230,raj,prod,pune,2300

450,shan,sales,bglore,3401

542,anu,HR,mumbai,4590

321,bibu,sales,hyd,5419

651,ram,hr,bglore,3130

541,leo,admin,chennai,4913

652,karthik,sales,bglore,3405

In [71]:
s = 'data\n'
s.strip()

'data'

In [72]:
for var in L:
    print(var.strip())

eid,ename,edept,ecity,ecost
101,raj,sales,pune,1000
102,leo,prod,bglore,2301
230,raj,prod,pune,2300
450,shan,sales,bglore,3401
542,anu,HR,mumbai,4590
321,bibu,sales,hyd,5419
651,ram,hr,bglore,3130
541,leo,admin,chennai,4913
652,karthik,sales,bglore,3405

In [73]:
L[-3:] # Last 3 lines

['651,ram,hr,bglore,3130\n',
 '541,leo,admin,chennai,4913\n',
 '652,karthik,sales,bglore,3405']

In [ ]:
C:\Users\karth\Demo-A>python
Python 3.14.2 (tags/v3.14.2:df79316, Dec  5 2025, 17:18:21) [MSC v.1944 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
>>>
>>> open('r1.log','w')
<_io.TextIOWrapper name='r1.log' mode='w' encoding='cp1252'>
>>> open('r1.log','w')
<_io.TextIOWrapper name='r1.log' mode='w' encoding='cp1252'>
>>>
>>>
>>> wobj = open('r1.log','w')
>>>
>>> # wobj.write('Single String\n') <== Single Argument + Type must be string Type
>>>
>>> wobj.write("data-1\n")
7
>>> wobj.write(4590)
Traceback (most recent call last):
  File "<python-input-10>", line 1, in <module>
    wobj.write(4590)
    ~~~~~~~~~~^^^^^^
TypeError: write() argument must be str, not int
>>>
>>> wobj.write("4590\n")
5
>>> cost=345.23
>>> wobj.write(str(cost))
6
>>> wobj.write("Data1","Data2")
Traceback (most recent call last):
  File "<python-input-15>", line 1, in <module>
    wobj.write("Data1","Data2")
    ~~~~~~~~~~^^^^^^^^^^^^^^^^^
TypeError: TextIOWrapper.write() takes exactly one argument (2 given)
>>>
>>> wobj.write("data1"+"data2"+str(5623.32)+"\n")
18
>>> emp_id = 345
>>> emp_name = 'Raj'
>>> emp_cost = 13123.23
>>>
>>> wobj.write(f'Emp name is:{emp_name} emp id:{emp_id} Cost:{emp_cost}\n')
41
>>> wobj.write(f'{emp_name},{emp_id},{emp_cost}\n')
17
>>> wobj.close()
>>>

In [74]:
# 2. Read data from <STDIN> -- python -- Create a new File and write data to FILE  # not display data to Monitor 

wobj = open('r1.txt','w')  # create a newFile 

var = input('Enter some Text:') # read data from <STDIN>

wobj.write(var+"\n") # write data to FILE 

wobj.close()

Enter some Text: data-1

In [75]:
f = open('r1.txt','r')
f.read()

'data-1\n'

In [76]:
wobj = open('result.log','w')

i = 0
while( i < 5):
    var = input('Enter some text:')
    wobj.write(var+"\n")
    i = i+1

wobj.close()

Enter some text: productA details
Enter some text: productB Cost is 34324
Enter some text: data-1
Enter some text: data-2
Enter some text: test-data

In [77]:
fobj = open('result.log','r')
s = fobj.read()
print(s)
fobj.close()

productA details
productB Cost is 34324
data-1
data-2
test-data

In [78]:
# 3. Read data from <FILE-1> -- python -- Create a new File-2 and write data to anotherFILE  # not using IO

fobj = open('result.log','r')
wobj = open('report.log','w')

s = fobj.read() # reading data from result.log
wobj.write(s)   # writing data to report.log 

fobj.close()
wobj.close()

In [80]:
f = open('report.log','r')
print(f.read())

productA details
productB Cost is 34324
data-1
data-2
test-data

In [81]:
# Write a python program:
# read emp.csv file - line by line
# search - sales dept # use membership 
# display list of matched sales dept details to monitor 

fobj = open('emp.csv','r')
L = fobj.readlines()
fobj.close()

for var in L:
    if('sales' in var):
        print(var.strip())

101,raj,sales,pune,1000
450,shan,sales,bglore,3401
321,bibu,sales,hyd,5419
652,karthik,sales,bglore,3405

In [82]:
###
# Write a python program:
# read emp.csv file - line by line
# create a newfile - dept.log 
# search - sales dept  # use membership 
# Write matched sales details to dept.log file 
# close the both files


fobj = open('emp.csv','r')
L = fobj.readlines()
fobj.close()

wobj = open('depts.log','w')

for var in L:
    if('sales' in var):
        wobj.write(var) # print(var.strip())

wobj.close()

In [83]:
print(open('depts.log','r').read())

101,raj,sales,pune,1000
450,shan,sales,bglore,3401
321,bibu,sales,hyd,5419
652,karthik,sales,bglore,3405

In [84]:
fobj = open('emp.csv','r')
L = fobj.readlines()
fobj.close()

wobj = open('depts.log','w') # overwrite

for var in L:
    if('pune' in var):
        wobj.write(var) # print(var.strip())

wobj.close()

In [85]:
print(open('depts.log','r').read())

101,raj,sales,pune,1000
230,raj,prod,pune,2300

In [86]:
fobj = open('emp.csv','r')
L = fobj.readlines()
fobj.close()

wobj = open('depts.log','a') # append 

for var in L:
    if('sales' in var):
        wobj.write(var) # print(var.strip())

wobj.close()

In [87]:
print(open('depts.log','r').read())

101,raj,sales,pune,1000
230,raj,prod,pune,2300
101,raj,sales,pune,1000
450,shan,sales,bglore,3401
321,bibu,sales,hyd,5419
652,karthik,sales,bglore,3405

In [88]:
## with as - keywords
with open('emp.csv','r') as fobj:
    L = fobj.readlines()
    for var in L:
        print(var.strip())

eid,ename,edept,ecity,ecost
101,raj,sales,pune,1000
102,leo,prod,bglore,2301
230,raj,prod,pune,2300
450,shan,sales,bglore,3401
542,anu,HR,mumbai,4590
321,bibu,sales,hyd,5419
651,ram,hr,bglore,3130
541,leo,admin,chennai,4913
652,karthik,sales,bglore,3405

In [89]:
with open('e1.csv','w') as wobj:
    for var in [1,2,3]:
        pid = input('Enter product ID:')
        pname = input('Enter product Name:')
        pcost = input('Enter product Cost:')
        wobj.write(f'{pid},{pname},{pcost}\n')

Enter product ID: p101
Enter product Name: pA
Enter product Cost: 1000
Enter product ID: p102
Enter product Name: pB
Enter product Cost: 2000
Enter product ID: p103
Enter product Name: pC
Enter product Cost: 3000

In [90]:
print(open('e1.csv','r').read())

p101,pA,1000
p102,pB,2000
p103,pC,3000

In [ ]:
##########
Function 
 - Code block 
 - definition - operation block
 - functionCall - To invoke a definition 

def functionName():
    .....
    .....

functionName() <== Simple FunctionCall

In [91]:
def f1():
    print('this is f1 block')
    print('display list of files')

In [92]:
f1() # functionCall

this is f1 block
display list of files

In [93]:
for var in [1,2,3]:
    f1()
    print('') # empty line

this is f1 block
display list of files

this is f1 block
display list of files

this is f1 block
display list of files

In [94]:
if(True):
    f1()

this is f1 block
display list of files

In [95]:
if(False):
    pass
else:
    f1()

this is f1 block
display list of files

In [96]:
def f_read():
    fobj = open('emp.csv','r')
    L = fobj.readlines()
    fobj.close()
    print(L[-3:]) # last 3 lines
    print("Exit from f_read block")

In [97]:
f_read() # simple functionCall

['651,ram,hr,bglore,3130\n', '541,leo,admin,chennai,4913\n', '652,karthik,sales,bglore,3405']
Exit from f_read block

In [98]:
def f_read(fname):
    fobj = open(fname,'r')
    L = fobj.readlines()
    fobj.close()
    print(L[-3:]) # last 3 lines
    print("Exit from f_read block")

In [99]:
f_read('e1.csv') # function call with argument

['p101,pA,1000\n', 'p102,pB,2000\n', 'p103,pC,3000\n']
Exit from f_read block

In [100]:
f_read('depts.log') # function call with argument

['450,shan,sales,bglore,3401\n', '321,bibu,sales,hyd,5419\n', '652,karthik,sales,bglore,3405']
Exit from f_read block

In [ ]:
f_read() # Error

In [105]:
def f1(a1,a2):
    print("Hello")

# f1() TypeError: f1() missing 2 required positional arguments: 'a1' and 'a2'
# f1(10)
# f1(1,2,3) TypeError: f1() takes 2 positional arguments but 3 were given

In [108]:
def f1(a1=True,a2='data'): # default args
    print('a1=',a1)
    print('a2=',a2)

f1()
f1('data-1')
f1('10.20.30.40',22)

a1= True
a2= data
a1= data-1
a2= data
a1= 10.20.30.40
a2= 22

In [109]:
f1(1,2,3)

TypeError: f1() takes from 0 to 2 positional arguments but 3 were given

In [110]:
def f1(user,password,shell="/bin/bash",db="mysql"):
    print("Connection")

f1()

TypeError: f1() missing 2 required positional arguments: 'user' and 'password'

In [111]:
f1('root','abc')

Connection

In [112]:
def fx(a1,a2,a3,a4=True,a5):
    print("Hello")

SyntaxError: parameter without a default follows parameter with a default (1406697602.py, line 1)

In [113]:
def fx(*args):
    print(type(args))
    print(args)

In [114]:
fx()
fx(10,20,30,40)

<class 'tuple'>
()
<class 'tuple'>
(10, 20, 30, 40)

In [118]:
fx(shell='/bin/bash')

TypeError: fx() got an unexpected keyword argument 'shell'

In [119]:
def fx(**kwargs):
    print(kwargs)

fx()
fx(shell='/bin/bash',user='root',db='mysql',port=1532)

{}
{'shell': '/bin/bash', 'user': 'root', 'db': 'mysql', 'port': 1532}

In [120]:
import re
help(re.search)

Help on function search in module re:

search(pattern, string, flags=0)
    Scan through string looking for a match to the pattern, returning
    a Match object, or None if no match was found.

In [121]:
L=[10,20,30,40,50,60]
L.pop(1)

20

In [122]:
L

[10, 30, 40, 50, 60]

In [123]:
L.pop()

60

In [124]:
L

[10, 30, 40, 50]

In [125]:
L.pop(1,2)

TypeError: pop expected at most 1 argument, got 2

In [126]:
# def pop(index=-1):

help(re.sub)

Help on function sub in module re:

sub(pattern, repl, string, count=0, flags=0)
    Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the Match object and must return
    a replacement string to be used.

In [127]:
def fx():
    print('one')
    myvar = 120
    return myvar  # exit from definition 
    print('Two')  # won't display 

fx()

one

120

In [128]:
rv = fx()

one

In [129]:
print(rv)

120

In [130]:
def fy():
    var = 125

rv = fy()

In [131]:
print(rv)

None

In [132]:
def fx():
    return "V1","V2"

fx()

('V1', 'V2')

In [133]:
t = fx()
print(t)

('V1', 'V2')

In [134]:
va,vb = fx() # multiple initialization

In [135]:
print(va)
print(vb)

V1
V2

In [ ]:
############################################ End of Day2 Session ###############